.category-boxes {
  display: flex;
  flex-wrap: wrap;
  gap: 1.2rem;
  margin-bottom: 2.4rem;

  &__box {
    display: inline-block;
    padding: 0.8rem 1.6rem;
    background-color: var(--shadowColor);
    font-size: 1.2rem;
    border-radius: 0.4rem;
    transition: background-color var(--slowTransitionSpeed);
    cursor: pointer;
    user-select: none;

    &--active {
      background-color: var(--primaryBlue);
      color: var(--lightColor)
    }
  }
}
