.products-modal {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--pageBackground);
    opacity: 0.75;
    z-index: 9;
  }

  &__content {
    display: flex;
    flex-direction: column;
    margin: 2.4rem;
    padding: 2.4rem;
    width: 100%;
    max-width: 48rem;
    background-color: var(--pageBackground);
    color: var(--textColor);
    border: 1px solid var(--shadowColor);
    z-index: 10;
    border-radius: 1rem;

    input {
      margin-bottom: 1.2rem;
    }
  }

  &__buttons {
    display: flex;
    gap: 1.2rem;
    margin-top: 2.4rem;
    border-radius: 0.5rem;
  }
}

.products-modal__header {
  text-align: center;
  margin: 2rem 0;
}

.form__title {
}
