.auth-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  user-select: none;
  box-shadow: var(--authFormShadow);

  @media (min-width: 960px) {
    flex-direction: row;
    width: unset;
  }

  .carousel {
    width: 100%;
    height: 50vh;
  
    @media (min-width: 960px) {
      width: 40rem;
      height: 48rem;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    padding: 2.4rem;
    width: 100%;
    min-height: 50vh;
    background-color: var(--pageBackground);

    @media (min-width: 960px) {
      max-width: 40rem;
      min-height: unset;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    height: 100%;

    .input {
      margin-bottom: 1.2rem;
    }

    .form__title {
      margin-bottom: 1.2rem;
    }

    .form__description {
      margin-bottom: 2.4rem;
      font-size: 1.3rem;
      color: var(--lighterTextColor);
    }

    .form__inputs {
      margin-bottom: 3.6rem;
    }

    .form__submit-wrap {
      margin-top: auto;

      .button {
        margin-top: 1.2rem;
        width: 100%;
      }
    }
  }
}
